@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

/* Scrollbar Customization  */
/* Webkit-based browsers */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(92, 225, 230);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: black;
}
